body {
    background-color: #ffffff;
}

#groot-blok {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#groot {
    background-color: #FEFAEF;
    height: 300px;
    width: 900px;
}



































