body {
    margin: auto;
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.naamgeving {
    color: #062683;
    display: flex;
    justify-content: center;
}

.vakanties {
    color: #062683;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.vakantie-blok {
    display: flex;
    flex-direction: row;
    background-color: #FEFAEF;
    padding: 20px;
    width: 900px;
    gap: 20px;
}

.vakantie-inhoud {
    flex: 1;
    gap: 10px;
}

p {
    margin: 0;
}

.meer-info {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    text-decoration: underline;
}

.vakantie-fotos {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vakantie-fotos img {
    gap: 20px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
























