body {
    margin: auto;
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Styling van de familie pagina */
.naamgeving h1 {
    margin: 0;
    font-size: 32px;
    color: #062683;
    font-weight: bold;
}

.naamgeving {
    color: #062683;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.beleid-inhoud {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
}


.ruimte {
    color: #062683;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

/* De ruimte waar de vakantie opties in zitten */
.blok {
    display: flex;
    flex-direction: row;
    border: 2px solid #062683;
    border-radius: 10px;
    box-shadow: 0 0 5px #062683;
    padding: 20px;
    width: 900px;
    gap: 20px;
}

.inhoud {
    flex: 1;
}

p {
    margin: 0;
}

/* de link die doorverwijst naar de vakanties */
.meer-info {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    text-decoration: underline;
}

.vakantie-fotos {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vakantie-fotos img {
    gap: 20px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

/* Styling voor de over ons pagina */
#over-ons-inhoud {
    flex: 1;
    gap: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.vakantie-familie {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

.vakantie-familie img {
    width: 330px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.familie-foto {
    position: relative;
    width: 100%;
    max-height: 500px;
    overflow: hidden;
}

.familie-foto img {
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
}

.faq {
    color: #062683;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

/* De ruimte waar de faq in zitten */
.faq-blok {
    display: flex;
    flex-direction: row;
    border: 2px solid #062683;
    border-radius: 10px;
    box-shadow: 0 0 5px #062683;
    padding: 20px;
    width: 900px;
    gap: 20px;
}

.faq-inhoud {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
















